<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmovie.jld.com.tmovie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.VodActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/VideoTheme" />
        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/VideoTheme" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.MovieContentActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.MyPlay"
            android:label="@string/title_activity_my_play"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.NewsWeb"
            android:label="@string/title_activity_news_web"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>